<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/contact">Contact Us</a>
    <a href="/aboutus">About Us</a>
    <a href="/">Home</a>
    <header><%= title %></header>
    <label for="subject">Subject</label>
          <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
      
          <input type="submit" value="Submit">
    <section>Please Select Option Below!</section>
  </body>
</html>