<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/add">Add Employee</a>
    <a href="/view">View Employee</a>
    <a href="/edit">Edit Employee</a>
    <a href="/delete">Delete Employee</a>
    <header><%= title %></header>
    <section>Please Select Option Below!</section>
    <nav>
      <li>Create Employee</li>
      <li>View Employees</li>
      <li>Edit Employees</li>
      <li>Delete Employees</li>
    </nav>
  </body>
</html>