<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/contact">Contact Us</a>
    <header><%= title %></header>
    <section>Please Enter details below!</section>
    <nav>
      <li>Create Post</li>
      <li>View Posts</li>
      <li>Contact Us</li>
      <li>About Us</li>
    </nav>
  </body>
</html>