<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <h1>TODO List</h1>
      <div class="add-todo">
          <form action="/add" method="post">
              <input type="text" name="todo" placeholder="Add new TODO">
              <button type="submit">Add</button>
          </form>
      </div>
      <ul>
          <% todos.forEach(function(todo) { %>
              <li><%= todo %></li>
          <% }); %>
      </ul>
  </html>
  </body>
</html>